<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="assets/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" id="disc">
            <section id="hero" class="d-flex align-items-center">
                <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
                  <div class="row">
                    <div class="col-lg-8" style=" padding: 60px;">
                      <h1> <b>WelcomeTO </b> <span>MRestaurant</span> </h1>
                      <h2>Delivering great food for more than 18 years!  <span id="smill" class="fas fa-smile-beam"></span> </h2>
                     

                    </div> 
                    <i class="fas fa-clock d-flex align-items-center ms-4" style="color: yellow;"><span style="color:whitesmoke; padding: 5px;"> Mon-Sat: 11AM - 23PM</span></i>
           
            
                  </div>
                </div>
              </section>
            
            
        </div>
      </div>

    </div>
  </section>
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

 

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Lorem Ipsum</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Repellat Nihil</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Ad ad velit qui</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>

    </div>
  </section>


