<body>
  <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm" style="width: 50vw">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="restaurant.title"
        name="title"
        #title="ngModel"
      />
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        title is required
      </div>
    </div>

    <div class="form-group">
      <label for="cuisines">Cuisine</label>
      <input
        type="text"
        class="form-control"
        id="cuisines"
        required
        [(ngModel)]="restaurant.cuisines"
        name="cuisines"
        #cuisines="ngModel"
      />
      <div
        [hidden]="cuisines.valid || cuisines.pristine"
        class="alert alert-danger"
      >
        cuisines is required
      </div>
    </div>

    <div class="form-group">
      <label for="latitude">latitude</label>
      <input
        type="text"
        class="form-control"
        placeholder="Please allow the browser to access your location"
        id="latitude"
        required
        [(ngModel)]="restaurant.latitude"
        name="latitude"
        #latitude="ngModel"
      />
      <div
        [hidden]="latitude.valid || latitude.pristine"
        class="alert alert-danger"
      >
        latitude is required
      </div>
    </div>

    <div class="form-group">
      <label for="longitude">longitude</label>
      <input
        type="text"
        class="form-control"
        id="longitude"
        required
        [(ngModel)]="restaurant.longitude"
        placeholder="Please allow the browser to access your location"
        name="longitude"
        #longitude="ngModel"
      />
      <div
        [hidden]="longitude.valid || longitude.pristine"
        class="alert alert-danger"
      >
        longitude is required
      </div>
    </div>

    <div class="form-group">
      <label for="rate">Image or PDF</label>
      <input
        type="file"
        class="form-control"
        id="rate"
        required
        [(ngModel)]="restaurant.rate"
        name="rate"
        #rate="ngModel"
      />
      <div [hidden]="rate.valid || rate.pristine" class="alert alert-danger">
        rate is required
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!restaurantForm.form.valid"
    >
      Add
    </button>
  </form>
</body>

<!-- <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm" style="width: 50vw;">

  <div   class="form-group">
      <label for="title">title</label>
      <input type="text" class="form-control" id="title"
             required
             [(ngModel)]="restaurant.title" name="title"
             #title="ngModel">
      <div [hidden]="title.valid || title.pristine"
           class="alert alert-danger">
           title is required
      </div>
    </div>

    <div class="form-group">
      <label for="cuisines">Cuisines</label>
      <input type="text" class="form-control" id="cuisines"
             required
             [(ngModel)]="restaurant.cuisines" name="cuisines"
             #cuisines="ngModel">
      <div [hidden]="cuisines.valid || cuisines.pristine"
           class="alert alert-danger">
           cuisines is required
      </div>
    </div>

    <div class="form-group">
      <label for="latitude">latitudeitude</label>
      <input type="text" class="form-control" id="latitude"
             required
             [(ngModel)]="restaurant.latitude" name="latitude"
             #latitude="ngModel">
      <div [hidden]="latitude.valid || latitude.pristine"
           class="alert alert-danger">
           latitudeitude is required
      </div>
    </div>

    <div class="form-group">
      <label for="longitude">longitude</label>
      <input type="text" class="form-control" id="longitude"
             required
             [(ngModel)]="restaurant.longitude" name="longitude"
             #longitude="ngModel">
      <div [hidden]="longitude.valid || longitude.pristine"
           class="alert alert-danger">
           longitude is required
      </div>
    </div>

    <div class="form-group">
      <label for="rate">rate</label>
      <input type="text" class="form-control" id="rate"
             required
        
 [(ngModel)]="restaurant.rate" name="rate"
             #rate="ngModel">
div [hidden]="rate.valid || rate.pristine"
           class="alert alert-danger">
           rate is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!restaurantForm.form.valid">Add</button>

</form> -->
