
<nav  class="navbar navbar-expand-lg d-flex p-2 ">
  
    <h1 id="logo" class="navbar-brand"  >MResturant</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link  " routerLink="/home"> <span class="fas fa-home"></span>  Home </a>
        <a class="nav-item nav-link  " routerLink="/restr"> <span class="fas fa-award"></span> Restaurants</a>
        <a class="nav-item nav-link  " routerLink="/menur"> <span class="fas fa-utensils"></span> Menu</a>
        <a class="nav-item nav-link  " routerLink="/arest"> <span class="fas fa-plus-circle"></span> Restaurant</a>
        <a class="nav-item nav-link  " routerLink="/amenu"> <span class="fas fa-plus-circle"></span>  Food</a>
        <a class="nav-item nav-link  " routerLink="/contact"> <span class="fas fa-envelope-open"></span> Contact Us</a>
        
      </div>
    </div>
  </nav>
